body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #000;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    /* height: 750px; */
    flex: 1 1 auto;
}

#background {
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.player {
    width: 340px;
    height: 405px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.album {
    height: 265px;
    width: 335px;
    border-radius: 10px 10px 0 0;
}

.box {
    height: 135px;
    width: 335px;
    background: rgb(65, 112, 107);
    display: flex;
    /* align-items: center; */
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 125px;
    padding-top: 35px;
}

.center {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.play, .pause {
    height: 50px;
    width: 50px;
}

.pause {
    display: none;
} 

.active {
    filter: invert(1);
}

.active .pause {
    display: block;
}

.active .play {
    display: none;
}

.btn {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.play, .btn, .pause {
    filter: invert(1);
    cursor: pointer;
    transition: all 0.5s ease;
}

.play:hover, .pause:hover, .back:hover, .next:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

.text {
    padding: 0 15px;
}

.song {
    color: #fff;
}

.song-artist {
    font-weight: bold;
    color: rgb(234, 161, 207);
}

.input {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    width: 235px;
    padding-top: 5px;
} 

.bar {
    width: 220px;
    background: #fff;
    border-radius: 5px;
    height: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.progress {
    width: 220px;
    background: rgb(234, 161, 207);
    border-radius: 5px;
    height: 7px;
    cursor: pointer;
}

.currentTime {
    color: #fff;
    font-size: 12px;
}

.duration {
    color: rgb(234, 161, 207);
    font-size: 12px;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}

footer {
    background: rgb(65, 112, 107);
    padding: 11px 0;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

#rs {
    padding: 0 35px;
}

.hover:hover {
    color: rgb(19, 34, 35);;
    cursor: pointer; 
}